@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Montserrat+Alternates:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

* {
    /* font-family: 'Montserrat Alternates', sans-serif; */
    font-family: 'Lexend', sans-serif;
    font-family: 'Varela Round', sans-serif;

}

select {
    outline: none;
}

.app-name,
.pageNotFound,
.indexPageAppName,
.confirmPageTitle,
.pb,
.lovelyDay {
    font-family: 'La Belle Aurore', cursive !important;
}

.aptType>option {
    width: 50px !important;
}

.formLoginButton {
    outline: hidden !important;
}

.center {
    position: absolute;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

::-webkit-scrollbar {
    background-color: rgb(241, 245, 249);
    border-radius: 10px;
    width: 10px;

}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    height: -2000px !important;
}

::-webkit-scrollbar-thumb {
    opacity: 1 !important;
    background-color: #d4d4d8;
    border-radius: 10px;
    height: -25px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

.promptsWrapper> :first-child {
    margin-top: auto !important;
}